<div class="animated fadeIn">
    <div class="row">
      <div class="col">
        <div class="wrapper">
            <main>
                <div class="content-section">
                  <div class=" mrgn-0-auto order-view mt30 max-WT-700">
                    <div class="main-block-innner">
                      <div class="add-store-block input-style mw-100">
              
                        <div class="form-user">
                          <form>
              
                            <div class="text-center mt-4 mb-5">
                              <div class="flex-block align-center">
                                <div class="profile_block"  style="position: relative">
                                  <img src="{{userList?.profilePic}}"  class="imagePicture"  alt="banner image"   />
                                </div>
                              </div>
                            </div>
              
                            <div class="form-group row">
                              <label class="col-sm-6 col-form-label">
                                First Name : 
                              </label>
                              <div class="col-sm-6">
                                <p class=" col-form-label"> {{userList?.firstName || '--'}} </p>
                              </div>
                            </div>
              
                            <div class="form-group row">
                              <label class="col-sm-6 col-form-label">
                                Last Name :
                              </label>
                              <div class="col-sm-6">
                                <p class=" col-form-label"> {{userList?.lastName || '--'}} </p>
                              </div>
                            </div>
              
              
                            <div class="form-group row">
                              <label class="col-sm-6 col-form-label">
                                Email :
                              </label>
                              <div class="col-sm-6">
                                <p class=" col-form-label">{{userList?.email || '--'}} </p>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputPassword" class="col-sm-6 col-form-label">
                                Phone Number :
                              </label>
                              <div class="col-sm-6">
                                <p class="col-form-label"> {{userList?.countryCode}} {{userList?.mobileNumber || '--'}} </p>
                              </div>
                            </div>

                            <!-- <div class="form-group row">
                              <label for="inputPassword" class="col-sm-6 col-form-label">
                                Gender :
                              </label>
                              <div class="col-sm-6">
                                <p class="col-form-label">Male</p>
                              </div>
                            </div> -->

                            <div class="form-group row">
                              <label for="inputPassword" class="col-sm-6 col-form-label">
                                Home Country :
                              </label>
                              <div class="col-sm-6">
                                <p class="col-form-label">{{userList?.home_country?.name || '--'}}</p>
                              </div>
                            </div>

                            <div class="form-group row">
                              <label for="inputPassword" class="col-sm-6 col-form-label">
                               Meeting Preference :
                              </label>
                              <div class="col-sm-6">
                                <p class="col-form-label">{{userList?.meeting_preference || '--'}}</p>
                              </div>
                            </div>

                            <div class="form-group row">
                              <label for="inputPassword" class="col-sm-6 col-form-label">
                              Last Login Time : 
                              </label>
                              <div class="col-sm-6">
                                <p class="col-form-label">{{lastLoginTime | date : 'd/M/y' : 'UTC'}} {{ lastLoginTime |  date : 'mediumTime' : 'UTC' }} </p>
                              </div>
                            </div>

                            <div class="form-group row">
                              <label for="inputPassword" class="col-sm-6 col-form-label">
                             University Name : 
                              </label>
                              <div class="col-sm-6">
                                <p class="col-form-label">{{userList?.universityId?.groupName || '--'}} </p>
                              </div>
                            </div>

                            <div class="form-group row">
                              <label for="inputPassword" class="col-sm-6 col-form-label">
                             Program Name : 
                              </label>
                              <div class="col-sm-6">
                                <p class="col-form-label">{{userList?.programId?.programName || '--'}} </p>
                              </div>
                            </div>

                           
                            <div class="form-group row">
                              <label for="inputPassword" class="col-sm-6 col-form-label">
                             College Name : 
                              </label>
                              <div class="col-sm-6">
                                <p class="col-form-label">{{userList?.collegeId?.collegeName || '--'}} </p>
                              </div>
                            </div>

                            <div class="form-group row">
                              <label for="inputPassword" class="col-sm-6 col-form-label">
                             Accomodation Name : 
                              </label>
                              <div class="col-sm-6">
                                <p class="col-form-label">{{userList?.accomodationId?.accomodationName || '--'}} </p>
                              </div>
                            </div>


                            <div class="form-group row">
                              <label for="inputPassword" class="col-sm-6 col-form-label">
                             Enrollment Year  : 
                              </label>
                              <div class="col-sm-6">
                                <p class="col-form-label">{{userList?.enrollment_yearId?.year || '--'}} </p>
                              </div>
                            </div>


                           

                            <div class=" row">
                              <label for="inputPassword" class="col-sm-6 col-form-label">
                               Universities Connection :
                              </label>
                             
                            </div>

                            <div class="form-group row">
                              <div class="col-sm-6" *ngFor = "let availability of userList?.universityConnections">
                                <p class="col-form-label">{{availability?.groupName  || '--'}}  </p>
                              </div>
                            </div>
                           

                            <div class="row">
                              <label for="inputPassword" class="col-sm-6 col-form-label">
                               Weekly Availability:
                              </label>
                             
                            </div>
                            <div class="row">
                              <div class="col-sm-6" *ngFor = "let availability of userList?.availability">
                                <p class="col-form-label">{{availability?.weekday  || '--'}}  {{availability?.slot}}  </p>
                              </div>
                            </div>
                           
                          
                          </form>
              
                        </div>
                        <div class="d-flex justify-content-center mt-5 mb-5">
                          <button class="btn btn-primary px-4" routerLink='/user-mgt'>Back</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Table Responsive End -->
              
              </main>
              
        </div>
    </div>
 </div>
</div>
