<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card mx-4">
              <div class="card-body p-4">
                <form [formGroup] = "resetPassword">
                  <h1>Reset Password</h1>
                  <p class="text-muted">Reset your password</p>
                 
                
                  <div class="input-group" [ngClass] = "{'mb-3' : resetPassword.get('password').valid || resetPassword.get('password').pristine}">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" (keypress)="mainService.preventSpace($event)" formControlName = "password" maxlength="60" class="form-control" placeholder="New password" autocomplete="new-password" required>
                  </div>

                  <small class="text-danger" *ngIf="resetPassword.get('password').hasError('required') && (resetPassword.get('password').dirty || resetPassword.get('password').touched)">
                    *Please enter new password.
                  </small>
                                      <small class="text-danger" *ngIf="resetPassword.get('password').hasError('pattern') && !resetPassword.get('password').hasError('required') && (resetPassword.get('password').dirty || resetPassword.get('password').touched)">
                    *Password must contain atleast 8 characters including one digit and one special character.
                  </small>

                  <div class="input-group" [ngClass] = "{'mb-4' : resetPassword.get('confirmPassword').valid || resetPassword.get('confirmPassword').pristine}">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" (keypress)="mainService.preventSpace($event)" class="form-control" formControlName = "confirmPassword" maxlength="60" placeholder="Confirm password" autocomplete="new-password" required>
                  </div>

                  <small class="text-danger" *ngIf="(resetPassword.value.password != resetPassword.value.confirmPassword) && resetPassword.get('confirmPassword').dirty ">
                    *Password not matched.
                  </small>

                  <div class="my-4 text-center">
                    <button type="button" [disabled]="resetPassword.invalid" (click)="resetApi()" class="btn btn-primary px-5">Submit</button>
                </div>                </form>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  