<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card mx-4">
              <div class="card-body p-4">
                <form [formGroup] = "form">
                  <h1>Forgot Password?</h1>
                  <p class="text-muted">Forgot your password</p>
                 
                  <div class="input-group" [ngClass] = "{'mb-3' : form.get('email').valid || form.get('email').pristine}">
                    <div class="input-group-prepend">
                      <span class="input-group-text">@</span>
                    </div>
                    <input type="text" formControlName = "email" maxlength="156" (keypress)="mainService.preventSpace($event)" class="form-control" placeholder="Email" autocomplete="email" required>
                    
                  </div>

                  <div *ngIf="f.email.errors && (f.email.touched || f.email.dirty)" class="text-danger">
                    <small *ngIf="f.email.hasError('pattern')"> *Please enter valid email
                        id.</small>
                    <small *ngIf="f.email.hasError('required') "> *Email is required.</small>
                </div>

                  <div class="my-4 text-center">
                      <button type="button" (click)="submit()" [disabled]="form.invalid" class="btn btn-primary px-5">Submit</button>
                  </div>
                </form>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  