<div class="animated fadeIn">
    <div class="row">
      <div class="col">
        <div class="wrapper">
          <main>
            <div class="content-section">
              <div class=" mrgn-0-auto order-view mt30 max-WT-700">
                <form [formGroup]="editSubadminForm">
                  <div class="main-block-innner mb40 mt40">
                    <div class="add-store-block input-style">
  
                      <!-- **********************Subadmin profile image ****************  -->
  
                      <div class="text-center mt-4 mb-5">
                        <div class="flex-block align-center">
                          <div class="profile_block"  style="position: relative">
                            <img [src]="imageUrl || 'assets/img/avatars/profile-img.jpg'"  class="imagePicture"
                               alt="banner image"   />
                            <br>
                            <span class="camera">     
                              <i class="fa fa-camera" style="display:flex; ">                   
                                <input type="file" class="cameraInput" accept="image/jpg,image/jpeg,image/png" id="file"
                                  formControlName='file'  (change)="ValidateFileUpload($event)" >
                                </i>
                                </span>
                          </div>
                          <div
                            *ngIf="editSubadminForm.get('file').invalid && (editSubadminForm.get('file').dirty || editSubadminForm.get('file').touched)">
                            <span *ngIf="editSubadminForm.get('file').hasError('pattern')" style="color: red">*Subadmin
                              image is required.</span>
  
                          </div>
                        </div>
                      </div>
  
                      <div class="form-group row align-items-center">
                        <label class="col-md-4">
                          <h6> First Name :</h6>
                        </label>
                        <div class="col-md-7">
                          <input type="text" class="form-control" placeholder="First name"
                            formControlName="firstName" maxlength="256"
                            (keypress)="inputkeyPress($event)" minlength="2">
                          <div class="error-block"
                            *ngIf="(editSubadminForm.controls['firstName'].dirty || editSubadminForm.controls['firstName'].touched) && editSubadminForm.controls['firstName'].invalid">
                            <small style='color:red'
                              [ngClass]="{error:editSubadminForm.controls['firstName'].hasError('required')}"
                              *ngIf="editSubadminForm.controls['firstName'].hasError('required')">*Please enter
                              user first name.</small>
                            <small style='color:red'
                              [ngClass]="{error: editSubadminForm.controls['firstName'].hasError('pattern')}"
                              *ngIf="editSubadminForm.controls['firstName'].hasError('pattern')">*First name
                              should be characters only.</small>
                            <small style='color:red'
                              [ngClass]="{error: editSubadminForm.controls['firstName'].hasError('maxlength') && editSubadminForm.controls['firstName'].dirty}"
                              *ngIf="editSubadminForm.controls['firstName'].hasError('maxlength') && ! editSubadminForm.controls['firstName'].hasError('pattern')">*First
                              name should be maximum 256 characters.</small>
                            <small style='color:red'
                              [ngClass]="{error: editSubadminForm.controls['firstName'].hasError('minlength') && editSubadminForm.controls['firstName'].dirty}"
                              *ngIf="editSubadminForm.controls['firstName'].hasError('minlength') && ! editSubadminForm.controls['firstName'].hasError('pattern')">*First
                              name should be atleast 2 characters.</small>
                          </div>
                        </div>
                      </div>
  
                      <div class="form-group row align-items-center">
                        <label class="col-md-4">
                          <h6> Last Name :</h6>
                        </label>
                        <div class="col-md-7">
                          <input type="text" class="form-control" placeholder="Last name"
                          formControlName="lastName" maxlength="256"
                            (keypress)="inputkeyPress($event)" minlength="2">
                        </div>
                      </div>
  
  
                      <div class="form-group row align-items-center">
                        <label class="col-md-4">
                          <h6> Email :</h6>
                        </label>
                        <div class="col-md-7">
                          <input type="email" class="form-control" placeholder="Email"
                            (keypress)="passwordKeyPress($event)" formControlName="email"
                            maxlength="50">
                          <div class="error-block"
                            *ngIf="editSubadminForm.controls['email'].dirty && editSubadminForm.controls['email'].invalid">
                            <small style='color:red'
                              [ngClass]="{error:editSubadminForm.controls['email'].hasError('required')}"
                              *ngIf="editSubadminForm.controls['email'].hasError('required')">*Please enter an
                              email.</small>
                            <small style='color:red'
                              [ngClass]="{error: editSubadminForm.controls['email'].hasError('pattern')}"
                              *ngIf="editSubadminForm.controls['email'].hasError('pattern')">*Please enter
                              valid email.</small>
                            <small style='color:red'
                              [ngClass]="{error: editSubadminForm.controls['email'].hasError('maxlength') && editSubadminForm.controls['email'].dirty}"
                              *ngIf="editSubadminForm.controls['email'].hasError('maxlength') && ! editSubadminForm.controls['email'].hasError('pattern')">*Please
                              enter valid email.</small>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row align-items-baseline">
                        <label class="col-md-4">
                          <h6>Phone Number : </h6>
                        </label>
                        <div class="col-md-3">
                          <select name="patient" class="custom-select form-control" formControlName ="phoneCode"
                            id="inputGroupSelect01" aria-labelledby="dropdownMenuButton">
                            <option value="" selected>Dial Code</option>
                            <option value="+1">+1</option>
                            <option value="+44">+44</option>
                            <option value="+49">+49</option>
                          </select>
                        </div>
                        <div class="col-md-4">
                          <input type="tel" class="form-control" placeholder="Phone Number"
                            (keypress)="inputKeyPress($event)"formControlName="phoneNumber"
                            maxlength="20">
                          <small class="error-block text-nowrap text-start"
                            *ngIf="editSubadminForm.controls['phoneNumber'].dirty && editSubadminForm.controls['phoneNumber'].invalid">
                            <small style='color:red'
                              [ngClass]="{error:editSubadminForm.controls['phoneNumber'].hasError('required')}"
                              *ngIf="editSubadminForm.controls['phoneNumber'].hasError('required')">*Please
                              enter a phone number.</small>
                            <small style='color:red'
                              [ngClass]="{error: editSubadminForm.controls['phoneNumber'].hasError('pattern')}"
                              *ngIf="editSubadminForm.controls['phoneNumber'].hasError('pattern')">*Please
                              enter valid Phone number.</small>
                          </small>
                        </div>
                      </div>
  
                      <div class="form-group row align-items-center">
                        <label class="col-md-4">
                          <h6> Password :</h6>
                        </label>
                        <div class="col-md-7">
                          <input type="password" class="form-control" (keypress)="passwordKeyPress($event)"
                          formControlName='password' maxlength="16" placeholder="Password">
                          <div class="error-block"
                            *ngIf="editSubadminForm.controls['password'].dirty && editSubadminForm.controls['password'].invalid">
  
                            <small style='color:red'
                              [ngClass]="{error:editSubadminForm.controls['password'].hasError('required')}"
                              *ngIf="editSubadminForm.controls['password'].hasError('required')">*Please enter
                              password.</small>
                            <small style='color:red'
                              [ngClass]="{error:editSubadminForm.controls['password'].hasError('pattern')}"
                              *ngIf="editSubadminForm.controls['password'].hasError('pattern')">*Password must
                              be between 8 to 16 characters and contain at least one special character , one
                              digit.</small>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row align-items-center">
                        <label class="col-md-4">
                          <h6>Confirm Password :</h6>
                        </label>
                        <div class="col-md-7">
                          <input type="password" class="form-control" (keypress)="passwordKeyPress($event)"
                            placeholder="Confirm Password" formControlName='confirmPassword'
                            maxlength="16">
                          <div class="error-block" *ngIf="editSubadminForm.controls['confirmPassword'].dirty">
                            <small style='color:red'
                              *ngIf="editSubadminForm.controls['confirmPassword'].value != editSubadminForm.controls['password'].value">*Password
                              mismatched.</small>
                          </div>
                        </div>
                      </div>
  
  
                      <!-- <div class="d-flex mt-5 max-WT-400 justify-content-center mb-5"> -->
                      <div class="form-group row ">
                        <label class="col-md-12">
                          <h6> Permissions :</h6>
                        </label>
                      </div>
                      <!-- <div class="pl-5"> -->
                        <div class="align-items-baseline row text-nowrap">
                          <div class="col-md-6">
                            <label class="checkbox-design d-block">
                              <input type="checkbox" formControlName = "dashboard" [checked]="permission?.dashboard == true" value="true"><span></span>Dashboard
                            </label>
                          </div>
                          <div class="col-md-6">
                            <label class="checkbox-design d-block">
                              <input type="checkbox"  formControlName = "userManagement" [checked]="permission?.userManagement == true" value="True"><span></span>Manage User
                            </label>
                          </div>
    
    
                        </div>
    
                        <div class="align-items-baseline row text-nowrap">
                          <div class="col-md-6">
                            <label class="checkbox-design d-block mb-2 mt-2">
                              <input type="checkbox" formControlName = "groupManagement"  [checked]="permission?.groupManagement == true" value="True"><span></span>Manage Group 
                            </label>
                          </div>
                          <div class="col-md-6">
                            <label class="checkbox-design d-block">
                              <input type="checkbox" formControlName = "broadcastManagement" [checked]="permission?.broadcastManagement == true" value="True"><span></span>Manage Broadcast 
                            </label>
                          </div>
    
                        </div>
    
    
                        <div class="align-items-baseline row text-nowrap">
    
                          <div class="col-md-6">
                            <label class="checkbox-design d-block mb-2 mt-2">
                              <input type="checkbox"  formControlName = "reportManagement"  [checked]="permission?.reportManagement == true" value="True"><span></span>User Information 
                            </label>
                          </div>
    
                          <div class="col-md-6">
                            <label class="checkbox-design d-block mb-2 mt-2">
                              <input type="checkbox"  formControlName = "problemReport"  value="True"><span></span>Problem Report 
                            </label>
                          </div>
    
    
                        </div>

  
                      <div class="text-center mt-5 mb-5">
                        <button class="btn btn-primary px-4" (click)="editSubAdminApi()">Update</button>
                        <button class="btn btn-danger px-4 ml-3" routerLink="/role-mgt">Cancel</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>
  