<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card mx-4">
              <div class="card-body p-4">
                <form >
                  <h1>OTP</h1>
                  <p class="text-muted">
                      Please enter the 4-digit OTP you received 
                      on your registered email address. </p>
                      <div class="text-center">
                        <ng-otp-input (onInputChange)="onOtpChange($event)" 
                        [config]="{length:4 , allowNumbersOnly : true}"></ng-otp-input>
                    </div>
                      <div class="d-flex justify-content-end mt-4">
                        <span class="mr-3">
                     {{count}}
                     </span>
                        <span class="resend forgot-links">
                            <a class="link font17" (click)="resendOtp()">
                                Resend
                            </a>
                     </span>

                    </div>


                  <div class="my-4 text-center">
                      <button type="button" class="btn btn-primary px-5" (click) = "verifyOtp()">Submit</button>
                  </div>
                </form>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

  
  