<div class="animated fadeIn">
    <div class="row">
        <!--/.col-->
    <div class="col">
        <div class="card">
          <div class="card-header">
             User Information
          </div>
          <div class="card-body">
            <table class="table table-bordered table-striped">
              <thead>
                <tr class="text-center">
                  <th> Sr. No. </th>
                  <th> Reported From</th>
                  <th> Reported To</th>
                  <th>Reason</th>
                  <th>Message</th>
                  <th>Reported Date</th>
                 
                </tr>
              </thead>
              <tbody  class="text-center">
                <tr  class="text-center" *ngFor = "let group of reportList | paginate: { itemsPerPage: itemPerPage, currentPage: currentPage, totalItems: total}; let i = index">
                  <td>{{itemPerPage * (currentPage-1)+ i+1}}</td>
                  <td>{{group?.reportBy?.firstName || '--'}} {{group?.reportBy?.lastName || ''}}</td>
                  <td>{{group?.reportTo?.firstName || '--'}} {{group?.reportTo?.lastName || ''}}</td>
                  <td> {{group?.reason || '--'}} </td>
                  <td> {{group?.message || '--'}} </td>
                  <td>{{group?.createdAt | date : 'd/M/y' : 'UTC'}}</td>
                 
                   
              </tr>
              <tr *ngIf="!reportList.length">
                  <td class="table-no-record" colspan="5">No Record Found</td>
              </tr>
               
              </tbody>
            </table>
            <div class="custom-pagination my-3 d-flex justify-content-end" *ngIf="total > 10">
              <pagination-controls (pageChange)="pagination($event)"></pagination-controls>
          </div>

          </div>
        </div>
      </div>
      <!--/.col-->
    </div>

</div>