<div class="animated fadeIn">
    <div class="row">
      <div class="col">
        <div class="wrapper">
            <main>
                <!-- <div class="page_title_block">
                    <h1 class="page_title">My Profile</h1>
                </div> -->
                <div class="content-section" >
                    <div class="order-view  max-WT-700 mrgn-0-auto setting-page">
                        <div class="mb40">
                            <div class="add-store-block input-style view-label-align">
                                <div class="form-group row align-items-baseline">
                                    <div class="col-md-12" style="text-align: center">
                                        <img [src]="imageUrl" style="height: 100px;width: 100px; border-radius: 50%">
                                    </div>
                                </div>
                                <div class="form-group row mt-5 align-items-baseline">
                                    <label class="col-md-5">
                                        Name :
                                    </label>
                                    <div class="col-md-7">
                                        <p > {{profileData?.firstName}} {{profileData?.lastName}}
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group row align-items-baseline">
                                    <label class="col-md-5 ">
                                        Email :
                                    </label>
                                    <div class="col-md-7 ">
                                        <p> {{profileData?.email}} </p>
                                    </div>
                                </div>
        
                                <div class="form-group row align-items-baseline">
                                    <label class="col-md-5">
                                        Phone Number :
                                    </label>
                                    <div class="col-md-7">
                                        <p > {{profileData?.countryCode}}{{profileData?.mobileNumber}} 
                                        </p>
                                    </div>
                                </div>
        
                            </div>
                            <div class="text-center my-5">
                                <button class="btn btn-primary px-4" routerLink="/change-password" >Change
                                    Password</button>
                                <button class="btn btn-primary px-5 ml-3" routerLink="/edit-profile" >Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- Edit profile screen start here   -->
        
            </main>
        </div>
       </div>
     </div>
   </div>